body {
    font-family: Arial;
    background-image: linear-gradient(80deg, blue, red);
}
h1 {
    color: yellow;
    background-color: green;
    border: 5px dotted gray;
}

.main {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 35%;
	left: 45%;
	background-color: yellow;
	border-radius: 20%;
	border: solid;
	border-color: 10px #06402B;
}